.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




.container{
    margin:0 auto;
    width: 100%;
    height: 100%;
}

.darkmode--activated a.pages ,.darkmode--activated p{
    color: white;
}

img.logo{  
    isolation: isolate;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 10%;
    max-height: 10%;
}

a.pages{
    font-size:1.2em;
    padding-left:5%;
    color: black;
    text-decoration: none;
    position: relative;
    right: 1.5%;
}

div.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    width: 50%;
}

hr{
    position: relative;
    left: 1.5%;
    margin-top: 0.5em;
    border-width:1px;
    width: 50%;
}



/* Form */

body {
    text-align: center;
}

.row{
    display: inline-block;
}

.background{
    position: absolute;
    margin-top:1%;
    filter: blur(10px);
    z-index: -1;
    height: 83%;
    width: 99%;
    overflow:hidden;
}

.darkmode--activated .background{
    isolation: isolate;
}

p{
    font-family: system-ui, sans-serif,'Segoe UI', Tahoma, Geneva, Verdana;
 }

 .darkmode--activated .background{
    filter:invert()
 }

form {
    
    color:black;
    margin-top: 5%;
    display: inline-block;
    height:25em;
    background-color: #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,1);
}

.container_welcome{
    height: 3em;
    text-align: center;
    position: relative;
    left:17%;
    font-size: 1.2em;
}

.login_text{
    padding-top: -2%;
    color:black;
    font-weight: bold
}

.welcome_text{
    color:rgb(139, 134, 134);
    padding-top:2.5%;
    font-size: 0.7em;
}

input[type='text'],
input[type='password']{
    width: 50%;
    border:none;
    margin-left: 15%;
    outline:none;
    border-bottom:2px solid rgba(139, 134, 134,0.7);
    height: 30px;
}

input[type='text']:focus,
input[type='Password']:focus{
    border-bottom: 2px solid red 
}


span.usr_pass, span.mail_phone{
    width: 70%;
    display: flex;
    margin-bottom: 3%;
    position: relative;
    left: 10%;
}

select {
    display:inline-flex;
    width:7em;
    height:2em;
} 

span.birthday, span.gender{
    display: block;
    margin:4% 0%;
}

.gender_text{
  display: none;
}


input[type='submit']{
    border:none;
    outline: none; 
    width: 50%;
    position: relative;
    left:25%;
    display: block;
    height: 40px;
    color:#fff;
    background-color: #262626;
    transition: all 0.3s ease-out;
    cursor: pointer;  /* για να δειχνει το ποντικι οτι μπορει να πατηθει το κουμπι*/
}

input[type='submit']:hover{
    background-color: red;
}



.form_container{
    margin-top: 5%;
}

.username, .passw, .login{
    margin-bottom: 4%;
    display:block;
}

.form_img{
    width: 20%;
    z-index: 2;
    height: auto;
}

/* Form */


@media screen and (min-width:2000px){
    /* 2k monitor */
    .background{
        content:url("");
        left:-20%;
        background-image:url(/images/dokimastiko2.jpg);
        width: 120%;
        background-repeat:no-repeat;
        height: 84%;
    }



    p.login_text{
        font-size: 1.4em;
    }

    span.birthday{
        margin-top: -2%;
    }
    .container_welcome{
        margin-top: -2%;
    }

}

@media screen and (min-width:0px) and (max-width:925px){

    [class*="col-"]{
        /* kinita */
        width: 100%;
    }
    

    img.logo{
        max-width: 40%;
        max-height: 40%;
    }


    hr{
        width: 100%;
    }

    a.pages{
        font-size: 1.5em;
        padding-left:5%;
    }

    .container_welcome{
        left:0
    }


    .form{
        margin-top: 25%;
    }

    .form_container{
        margin-top: 10%;
    }

    .background{
        content:url("");
        left:-20%;
        background-image:url(/images/dokimastiko.jpg);
        width: 120%;
        background-repeat:repeat-y;
        height: 82%;
    }

}